@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotateReverse {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.publish {
    opacity: 0;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 15;

    &.iconContainer {
        @include flex(row, center, flex-end);
        background-color: rgb(62, 62, 150);;
        border-radius: 10px;

        >.icon {
            background-color: rgb(62, 62, 150);
            padding: 20px;
            color: white;
            font-weight: bold;
            border-radius: 10px;
            cursor: pointer;
            font-size: 30px;
            transition: background-color 0.3s;

            &.static {
                animation: rotateReverse 0.3s ease-in-out;
            }

            &.rotating {
                animation: rotate 0.3s ease-in-out;
            }

            &:hover {
                background-color: rgb(36, 36, 135);
            }
        }

        .publishOptions {
            @include flex(column);
            background-color: rgb(62, 62, 150);
            width: 100%;
            color: white;
            padding: 10px 20px;
            border-radius: 10px;
            transition: background-color 0.3s;

            &.hidden {
                display: none;
            }

            &.visible {
                display: block;
            }

            .publishGroup {
                width: 100%;
                @include flex(row, flex-start, center);
                gap: 10px;
                font-size: 1.5rem;
                padding: 0 10px;
                cursor: pointer;
                border-radius: 10px;
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgb(36, 36, 135);
                }
            }


        }
    }
}