@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}
  
.tabContainer {
    opacity: 0;
    @include flex(column, flex-start);
    width: 95%;
    height: 100%;
    color: white;
    overflow-y: auto;


    .document {
        width: 95%;
        height: 100%;
        padding: 1em;
        overflow-y: auto;
        font-size: 1.5em;

        .headerRules {
            font-size: 1em;
            margin: 0.5em 0;
            font-weight: bold;
        }

        .interact {
            color: white;
            cursor: pointer;
            font-weight: bold;
            transition: color 0.3s;
            text-decoration: none;

            &:hover {
                color: rgb(94, 169, 102);
            }
        }
    }
}