@mixin flex($direction: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

.announcementContainer {
    opacity: 0;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 100;
    color: white;
    opacity: 0;
    @include flex(column);

    .announcement {
        @include flex(column, flex-start, center);
        width: 630px;
        max-width: 2500px;
        max-height: 80%;
        background-color: rgb(54, 69, 121);
        padding: 20px;
        border-radius: 10px;
        overflow-y: auto;
        overflow-x: hidden;

        a {
            color: rgb(110, 205, 187);
            text-decoration: none;
            font-weight: bold;
        }

        .read { // button
            background-color: rgb(55, 210, 55);
        }
    }
}

@media only screen and (max-width: 700px) {
    .announcementContainer {
        .announcement {
            width: 90%;
        }
    }
}