@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

$primaryColour: rgb(20, 33, 107);

.profileContainer {
    opacity: 0;
    @include flex(column);
    overflow-x: hidden;
    margin: auto;
    margin-top: 6em;
    width: 95%;
    max-width: 2500px;
    height: 100%;
    border-radius: 10px;

    .profileHeader {
        width: 100%;
        overflow: hidden;
        position: relative;
        text-align: center;
        margin-bottom: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgb(0, 0, 0);
    
        .profileBanner {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
        }
    
        .profileDetails {
            @include flex(column);
            gap: 10px;
            position: relative;
            height: 100%;
            bottom: 100px;
            left: 50%;
            transform: translateX(-50%);
            width: 100%;
            display: flex;
            align-items: center;
            background-color: rgb(255, 255, 255);
            padding: 0 20px;
            box-shadow: 0 -1px 10px black;
            margin-bottom: -6.5rem;

            .profileImage {
                position: absolute;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                border: 5px solid white;
                object-fit: cover;
                box-shadow: 0 0px 10px rgba(0, 0, 0, 0.595);
                top: -60px;
                left: 60px;
            }

            .profileInfo {
                margin-top: 0rem;
                width: 100%;
                border-radius: 0 0 10px 10px;
                @include flex(column);

                .actions {
                    width: 95%;
                    @include flex(row, flex-end, center);
                    flex: 1;
                    margin-top: 1rem;
                    gap: 10px;

                    .follow {
                        font-size: 1.5rem;
                        font-weight: bold;
                        background-color: rgb(48, 197, 48);
                    }

                    .unfollow {
                        font-size: 1.5rem;
                        font-weight: bold;
                        background-color: rgb(197, 48, 48);
                    }

                    .icon {
                        font-size: 1.5rem;
                        cursor: pointer;
                        padding: 10px;
                        color: white;
                        background-color: black;
                        border-radius: 50%;
                    }
                }

                .profileUsername {
                    margin-top: 2rem;
                    width: 95%;
                    @include flex(column, flex-start, flex-start);

                    &.margin {
                        margin-top: 5rem;
                    }

                    .displayName {
                        margin-bottom: -30px;
                        font-size: 2rem;
                        font-weight: bold;
                        color: black;
                    }

                    .username {
                        font-size: 1.5rem;
                        color: gray;
                        font-weight: bold;
                    }
                }

                .profileDescription {
                    margin-top: -1.5rem;
                    width: 95%;
                    @include flex(column, flex-start, flex-start);

                    .description {
                        font-size: 1.5rem;
                        color: black;
                    }
                }

                .profileMisc {
                    margin-top: -1.5rem;
                    width: 95%;
                    cursor: default;
                    @include flex(row, flex-start, center);
                    flex-wrap: wrap;
                    gap: 25px;

                    .location {
                        @include flex();
                        gap: 10px;

                        .icon {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }

                    .joined {
                        @include flex();
                        gap: 5px;

                        .icon {
                            font-size: 2rem;
                        }

                        p {
                            font-size: 1.5rem;
                            font-weight: bold;
                        }
                    }
                }

                .profileStats {
                    margin-top: -1.5rem;
                    width: 95%;
                    @include flex(row, flex-start, center);
                    flex-wrap: wrap;
                    gap: 25px;

                    .stat {
                        @include flex();
                        cursor: pointer;
                        gap: 5px;
                        transition: color 0.3s ease-in-out;

                        &:hover {
                            color: rgb(48, 197, 48);
                        }

                        p {
                            font-size: 1.5rem;
                            font-weight: 700;
                        }
                    }
                }
            }
        }
    }

    .error {
        @include flex(column, center, center);
        width: 90%;
        margin-top: 2em;

        .errorMessage {
            font-size: 2rem;
            font-weight: 700;
            margin: 0;
            color: white;
            text-align: center
        }
    }

    .profileContent {
        @include flex(column, center, flex-start);
        width: 100%;
        background-color: $primaryColour;
        border-radius: 10px 10px 0 0;
        height: 80px;

        .profileFilter {
            @include flex(row, center, center);
            gap: 10px;
            width: 100%;
            overflow-y: hidden;

            p {
                font-size: 1.5rem;
                font-weight: bold;
                color: white;
                width: 100%;
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                transition: color 0.3s ease-in-out;

                &.selected {
                    background-color: rgb(46, 61, 147);
                }

                &:hover {
                    color: rgb(48, 197, 48);
                }
            }
        }

        .profileDiv {
            flex: 1;
        }
    }
}

@media only screen and (max-width: 510px) {
    .profileInfo {
        .actions {
            justify-content: flex-start !important;
            margin-top: 7rem !important;
            margin-bottom: -2rem;
        }

        .profileMisc, .profileStats {
            .icon {
                font-size: 1.5rem !important;
            }

            p {
                font-size: 16px !important;
                font-weight: 500 !important;
            }
        }
    }    

    .error {
        gap: 1.2em;
        margin-bottom: 2em;

        .errorMessage {
            font-size: 1.5rem !important;
        }
    }
}