@mixin flex($direction: row, $justify: center, $align: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

.commentsContainer {
    @include flex();
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 150;

    .comments {
        @include flex(column, flex-start, stretch);
        gap: 20px;
        background-color: rgb(26, 42, 82);
        max-height: 80%;
        border-radius: 10px;
        position: relative;

        .commentsHeader {
            border-radius: 10px 10px 0 0;
            position: relative;
            @include flex();
            background-color: rgb(16, 31, 69);
            width: 100%;

            .title {
                font-size: 2rem;
                font-weight: 600;
                color: white;
                margin-bottom: 20px;
                text-shadow: 0 2px 1px rgb(84, 84, 84);
            }

            .icon {
                color: rgb(255, 0, 0);
                font-size: 2rem;
                cursor: pointer;
                position: absolute;
                top: 50%;
                right: 30px;
                transform: translateY(-50%);
            }
        }

        .commentsContent {
            @include flex(column, flex-start, center);
            gap: 20px;
            width: 93%;
            padding: 20px;
            margin-top: -1.5em;
            margin-bottom: 2em;
            max-height: calc(100% - 60px); 
            flex: 1;
            overflow-y: auto;

            .comment {
                color: white;
                @include flex(column, center, flex-start);

                .commentHeader {
                    @include flex();
                    gap: 10px;

                    .profilePicture {
                        width: 50px;
                        height: 50px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    .displayName {
                        font-weight: 600;

                        >.username {
                            color: rgb(173, 173, 173);
                        }
                    }
                }

                .actions {
                    @include flex(row, flex-start, flex-start);
                    width: 95%;
                    margin-top: -1em;

                    .icon {
                        font-size: 1.5rem;
                        padding: 10px;
                        cursor: pointer;
                        border-radius: 10px;
                        color: rgb(173, 173, 173);
                        transition: color 0.3s;

                        &:hover {
                            color: white;
                        }
                    }
                }
            }
        }

        .commentActions {
            margin-top: 1em
        }

        .textAreaContainer {
            @include flex(row, center, flex-end);
            position: absolute; 
            bottom: 0;
            z-index: 5;
            width: 100%;
            overflow-y: hidden;
            background-color: rgb(38, 28, 82);
            padding: 10px 0;
            gap: 20px;
            border-radius: 0 0 10px 10px; 
    
            .textArea {
                margin-left: 1em;
                font-family: "Roboto", sans-serif;
                font-weight: 700;
                font-style: normal;
                color: rgb(243, 243, 243);
                width: 100%;
                font-size: 1.2em;
                border: 1px solid transparent;
                background-color: transparent;
                border-radius: 5px;
                resize: none;
                outline: none;
    
                &::placeholder {
                    color: rgb(150, 150, 150);
                }
            }
    
            .iconBackground {
                @include flex();
                border-radius: 10px;
                background-color: transparent;
                width: 3em;
                height: 3em;
                margin-right: 1em;
                cursor: pointer;
    
                .icon {
                    cursor: pointer;
                    font-size: 1.75em;
                    padding: 10px;
                    color: rgba(255, 255, 255, 0.769);
                    transition: color 0.3s;
    
                    &:hover {
                        color: white;
                    }
                }
            }
        }
    }
}