@mixin flex($direction: row, $justify: center, $align: center) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

.searchContainer {
    @include flex();
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.501);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    z-index: 150;

    .searchSection {
        @include flex(column, center, center);
        gap: 5px;
        background-color: rgba(57, 59, 87, 0.694);
        backdrop-filter: blur(5px);
        padding: 10px;
        color: white;
        min-width: 500px;
        border-radius: 10px;
        position: relative;

        .title {
            font-size: 2rem;
            text-align: center;
        }

        >.icon {
            position: absolute;
            top: 10px;
            right: 10px;
            font-size: 2rem;
            cursor: pointer;
            color: red;
            transition: filter 0.2s;

            &:hover {
                filter: brightness(0.8);
            }
        }

        .searchForm {
            @include flex();
            width: 90%;
            font-size: 2rem;
            color: white;
            background-color: rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            margin-bottom: 1.25em;
            padding: 10px;
            gap: 5px;

            input {
                width: 95%;
                padding: 5px;
                border-radius: 5px;
                border: none;
                outline: none;
                background-color: transparent;
                color: white;
                font-size: 1.5rem;
            }

            .icon {
                font-size: 1.5rem;
                transition: color 0.3s ease-in-out, filter 0.3s ease-in-out;

                &.active {
                    color: rgb(47, 179, 47);
                    cursor: pointer;

                    &:hover {
                        filter: brightness(0.8);
                    }
                }

                &.disabled {
                    color: gray;
                    cursor: not-allowed;
                }                
            }
        }
    }
}

@media only screen and (max-width: 550px) {
    .searchContainer {
        .searchSection {
            min-width: 90%;
        }
    }
}