@keyframes slideLeft {
    to {
        transform: translateX(-100%);
    }
}

@keyframes slideOrigin {
    to {
        transform: translateX(0);
    }
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }

    50% {
        text-shadow: 0 0 5px rgba(255, 255, 255, 0.7);
    }

    100% {
        text-shadow: 0 0 1px rgba(255, 255, 255, 0.7);
    }
}

@mixin flex($flexDirection: row, $justifyContent: center, $alignItems: center) {
    display: flex;
    flex-direction: $flexDirection;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

.messagesContainer {
    @include flex(); 
    margin-top: 7.5em;
    width: 100%;
    height: calc(95vh - 7em); // Ensures it fills the viewport height minus margin-top
    gap: 0.5em;

    .group {
        background-color: rgb(26, 172, 26);
    }

    .messageRecipient {
        @include flex(column); 
        width: 450px;
        max-width: 90%;
        height: 100%;
        gap: 1em;
        padding: 1em;
        background-color: rgb(71, 62, 112);
        border-radius: 10px;
        overflow: hidden; 

        .messageHeader {
            width: 100%;
            @include flex();
        }

        .section {
            color: white;
            @include flex(row, flex-start, center); 
            gap: 1em;
            width: 90%;

            .messageSection {
                @include flex();
                border-radius: 10px;
                width: 100%;
                padding: 0 10px;
                background-color: rgb(53, 40, 103);

                .input { 
                    flex: 1;
                    width: 100%;
                    padding: 0.5em;
                    font-size: 1em;
                    border: none;
                    outline: none;
                    border-radius: 10px;
                    background-color: transparent;
                    color: white;

                    &::placeholder {
                        color: rgb(197, 197, 197);
                    }
                }

                .icon {
                    padding: 10px;
                    font-size: 1.5em;
                    color: white;
                    cursor: pointer;
                    transition: color 0.3s;

                    &:hover {
                        color: rgb(197, 197, 197);
                    }
                }
            }
        }

        .messageList {
            @include flex(column, flex-start, flex-start); 
            gap: 1em;
            width: 100%;
            flex-grow: 1; 
            padding: 1em;
            overflow-y: auto;
            overflow-x: hidden;
            border-radius: 10px;

            .noResultsContainer {
                @include flex(column, flex-start, center);
                gap: 1em;
                width: 100%;
                height: 100%;

                .noResults {
                    color: white;
                    text-align: center;
                    font-size: 1.5em;
                    font-weight: bold;

                    span {
                        color: rgb(51, 193, 87);
                        font-weight: bold;
                    }
                }
            }

            .message {
                @include flex(row, center);
                width: 100%;
                gap: 1em;
                padding: 10px 5px;
                border-radius: 10px;
                cursor: pointer;
                transition: background-color 0.3s;

                &:hover {
                    background-color: rgb(107, 94, 169);
                }

                &.selected {
                    background-color: rgb(53, 40, 103);
                }

                .avatar {
                    width: 50px;
                    height: 50px;
                    border-radius: 50%;
                }

                .messagePreview {
                    @include flex(column, flex-start, flex-start); 
                    flex: 1;
                    overflow: hidden;

                    .username {
                        color: white;
                    }

                    p {
                        overflow: hidden;
                        text-wrap: nowrap;
                        margin: 0;

                        &.read {
                            color: rgb(197, 197, 197);
                        }

                        &.unread {
                            animation: pulse 2s infinite;
                            color: white;
                            font-weight: bold;
                        }
                    }
                }
            }
        }
    }

    .rightSide {
        @include flex(column); 
        background-color: rgb(71, 62, 112);
        flex: 1;
        min-height: 100%;
        height: 100%;
        position: relative;
        padding: 1em;
        overflow: hidden;
        border-radius: 10px;

        .icon {
        display: none;
        position: absolute;
        top: 50px;
        right: 40px;
        z-index: 10;
        font-size: 2em;
        color: white;
        cursor: pointer;
        transition: color 0.3s;

            &:hover {
                color: rgb(197, 197, 197);
            }
        }
    }
}

@media only screen and (max-width: 1050px) {
    .messageRecipient {
        transition: transform 0.5s ease;
        transform: translateX(0); // Default, visible state
        min-width: 95%;
        min-height: 100%;
        position: absolute;
        z-index: 15;

        &.hidden {
            transform: translateX(-110%); // Slide it off to the left
        }

        &.shown {
            transform: translateX(0); // Slide it back in
        }
    }

    .rightSide {
        .icon {
            display: block !important;
        }
    }
}